<header>
  <div id="successMessage" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none">
    {{alertSuccess}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="loading" class="modal" style="padding-top: 20%">
    <div class="modal-content bg-transparent">
      <div class="d-flex justify-content-center" >
        <div class="spinner-grow text-danger d-flex justify-content-center" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-success d-flex justify-content-center" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-light" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark d-flex justify-content-center" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <div id="header-main">
    <div class="container clearfix">
      <div id="header-left">
        <div class="clearfix">
          <!--Logo-->
          <a class="header-logo" href="/">
            <img src="/assets/img/logo.jpg" alt="Logo">
          </a>
        </div>
      </div>
      <div id="header-right">
        <div *ngIf="!currentUser" id="header-authentication">
          <button (click)="resetMessage()" type="button" data-toggle="modal" data-target="#loginPopup">LOGIN</button>
          <span>|</span>
          <button type="button" data-toggle="modal" data-target="#registerPopup">REGISTER</button>
        </div>
        <div *ngIf="currentUser" id="header-authentication">
          <div class="dropdown" id="nav-mainMenu-links">
            <button class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              {{currentUser.username}}
            </button>
            <div id="header-authentication" *ngIf="currentUser.type == 1">
              <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="monitor-page">Ad Manage</a>
                <a class="dropdown-item" routerLink="/user-profile" >User Profile</a>
                <a class="dropdown-item" (click)="logout()">LOGOUT</a>
              </div>
            </div>
            <div id="header-authentication " *ngIf="currentUser.type == 2">
              <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/user-profile">User Profile</a>
                <a class="dropdown-item" (click)="logout()">LOGOUT</a>
              </div>
            </div>
          </div>
        </div>

        <div id="header-select">
          <div>
            <a id="header-language" href="#" data-toggle="dropdown" data-width="100%">
              <img src="/assets/img/lang-eng.png">ENGLISH</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Arabic</a></li>
              <li><a href="#">French</a></li>
            </ul>
          </div>
          <!--<div>
          <a id="header-currency" href="#" data-toggle="dropdown" data-width="100%">
              <i class="fa fa-money" style="margin-right: 3px;"></i>AED</a>
          <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">USD</a></li>
              <li><a href="#">INR</a></li>
          </ul>
          </div>-->
        </div>
      </div>
    </div>
  </div>

  <nav id="mainMenu">
    <div class="container">
      <div id="mainMenu-inner">
        <a href="javascript:void(0);" id="mainMenu-icon">
          <i class="fa fa-bars"></i>
        </a>
        <ul id="mainMenu-links" class="clearfix">
          <li><a routerLink="/">Home</a>
          </li>
          <li><a routerLink="/car-search">Cars</a>
          </li>
          <li><a routerLink="/boat-search">Boats</a>
          </li>
          <li><a href="#">About</a>
          </li>
          <li><a href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<div class="modal fade" id="loginPopup">
  <div class="modal-dialog" style="max-width: 350px;">
    <div class="modal-content popup-form">
      <!-- Modal Header -->
      <div class="modal-header pf-header" style="display: inline-block">
        <h4 class="pf-title" style="display: inline-block">Login</h4>
        <button type="button" class="close pf-close " data-dismiss="modal" style="display: inline-block">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div class="pf-content">
        <p class="text-danger"> {{ serverError }}</p>
        <form [formGroup]="loginForm"  novalidate>
          <div class="form-group">
            <label class="pf-label">Email</label>
            <input type="email" formControlName="username" class="form-control pf-textInput"
                   placeholder="Enter your email"/>
            <div class="text-danger">
              <div *ngIf=" loginControls.username.errors">
                <p *ngIf="loginControls.username.errors.required">User Name is required</p>
                <p *ngIf="loginControls.username.errors.email">Must be an email</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="pf-label">Password</label>
            <input type="password" formControlName="hash" class="form-control pf-textInput"
                   placeholder="Enter your password"/>
            <div class="text-danger">
              <div *ngIf=" loginControls.hash.errors">
                <div *ngIf="loginControls.hash.errors.required">Password is required</div>
              </div>
            </div>
          </div>
          <input (click)="onLoginSubmit()" type="submit" value="Login" class="pf-submit" data-toggle="modal"
                 data-target="#loading">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="registerPopup">
  <div class="modal-dialog" style="max-width: 350px;">
    <div class="modal-content popup-form">
      <!-- Modal Header -->
      <div class="modal-dialog-loader" style="display:none;"></div>
      <div class="modal-header pf-header">
        <h4 class="pf-title">Register</h4>
        <button type="button" class="close pf-close" data-dismiss="modal">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div class="pf-content">
        <form [formGroup]="registerForm" novalidate>
          <div class="form-group">
            <label class="pf-label">User Name</label>
            <input email type="text" formControlName="username" class="form-control pf-textInput"
                   placeholder="Enter your user name"/>
            <div *ngIf="registerControls.username.errors" class="text-danger">
              <div *ngIf="registerControls.username.errors.required">User Name is required</div>
              <div *ngIf="registerControls.username.errors.exist">User name already used</div>
              <div *ngIf="registerControls.username.errors.email">Must be an E-Mail</div>
            </div>
          </div>
          <div class="form-group">
            <label class="pf-label">Password</label>
            <input type="password" formControlName="password" class="form-control pf-textInput"
                   placeholder="Enter your password"/>
            <div *ngIf="registerControls.password.errors" class="text-danger">
              <div *ngIf="registerControls.password.errors.required">Password is required</div>
              <div *ngIf="registerControls.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label class="pf-label">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control pf-textInput"
                   placeholder="Enter your confirm password"/>
            <div *ngIf="registerControls.confirmPassword.errors" class="text-danger">
              <div *ngIf="registerControls.confirmPassword.errors.required">Confirm Password is required</div>
              <div *ngIf="registerControls.confirmPassword.errors.minlength">Password must be at least 6 characters
              </div>
              <div *ngIf="registerControls.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
          </div>
          <input (click)="onRegisterSubmit()" type="submit" value="Register" class="pf-submit" data-toggle="modal"
                 data-target="#loading">
        </form>
      </div>
    </div>
  </div>
</div>
