<div class="main-content-wrapper">
  <div class="container" id="sr-container">
    <div class="loader" style="display: block;"></div>
    <div class="row">
      <div id="findBox-container">
        <div id="find-box">
          <h2>FIND</h2>
          <form [formGroup]="findForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12 col-sm-12">
              <div class="hf-label">MAKE</div>
              <div class="hf-select">
                <select formControlName="make" class="selectpicker" (change)="onMakeChange($event)" title="SELECT NAME"
                  data-width="100%">
                  <option [value]=""></option>
                  <option *ngFor="let make of makes" [value]="make.id">{{make.value}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="hf-label">MODEL</div>
              <div class="hf-select">
                <select formControlName="model" class="selectpicker" title="SELECT MODEL" data-width="100%">
                  <option [value]=""></option>
                  <option *ngFor="let model of models" [value]="model.id">{{model.value}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="hf-label">YEAR</div>
              <div class="hf-select half">
                <select formControlName="fromYear" class="selectpicker" title="FROM" data-width="100%">
                  <option [value]=""></option>
                  <option [value]="year" *ngFor="let year of fromYears">{{year}}</option>
                </select>
              </div>
              <div class="hf-select half">
                <select formControlName="toYear" class="selectpicker" title="TO" data-width="100%">
                  <option [value]=""></option>
                  <option [value]="year" *ngFor="let year of toYears">{{year}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-12 col-sm-12">
              <div class="hf-label">PRICE</div>
              <div class="hf-select half">
                <select formControlName="fromPrice" class="selectpicker" title="FROM" data-width="100%">
                  <option [value]=""></option>
                  <option [value]="price" *ngFor="let price of fromPrices">{{price}}</option>
                </select>
              </div>
              <div class="hf-select half">
                <select formControlName="toPrice" class="selectpicker" title="TO" data-width="100%">
                  <option [value]=""></option>
                  <option [value]="price" *ngFor="let price of toPrices">{{price}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-12 col-sm-12">
              <div class="hf-label">ORDER</div>
              <div class="hf-select">
                <select formControlName="orderid" class="selectpicker" title="SELECT ORDER" data-width="100%">
                  <option value="HIGHEST_PRICE">Highest Price</option>
                  <option value="LOWEST_PRICE">Lowest Price</option>
                  <option value="NEWEST">Newest</option>
                  <option value="OLDEST">Oldest</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="hf-label">LENGTH</div>
              <div class="hf-select">
                <select formControlName="lengthID" class="selectpicker" title="SELECT LENGTH" data-width="100%">
                  <option [value]=""></option>
                  <option *ngFor="let length of lengths" [value]="length.id">{{length.length}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <button type="submit" class="button" id="hf-button">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div id="searchResultsBox-container">
        <div id="searchResults-box">
          <div class="search-body">
            <h2 class="col-md-7 search-title">Search Results</h2>
            <div class="col-md-5 price-select">
              <span class="col-md-5 sortby">Sort By: </span>
              <div class="col-md-7">
                <select class="orderPicker" (change)="onChangeSorted($event)" title="SELECT NAME" data-margin="auto"
                  data-width="80%">
                  <option value="0">Highest Price</option>
                  <option value="1">Lowest Price</option>
                  <option value="2">Newest</option>
                  <option value="3">Oldest</option>
                </select>
              </div>
            </div>
          </div>
          <div class="searchResults-item" *ngFor="let boat of boats">
            <div class="searchResult-image">
              <img [src]="boat.imgFile">
            </div>
            <div class="searchResult-info">
              <div>
                <a (click)="getBoatDetailById(boat.id, boat.ad_id)" class="searchResultInfo-title"> {{boat.title}}</a>
                <div class="searchResultInfo-price"> {{boat.price|currency}}</div>
              </div>
              <div>
                <div class="searchResult-info-inner1">
                  <div><span>Make:{{boat.make}}</span> </div>
                  <div><span>Model:{{boat.model}}</span> </div>
                  <div><span>Length:</span>{{boat.length}} </div>
                </div>
                <div class="searchResult-info-inner2">
                  <div><span>Fuel Type:</span>{{boat.fueltype}} </div>
                  <div><span>Condition:</span>{{boat.condition}} </div>

                </div>
              </div>
              <div class="searchResultInfo-date"><span>Created Date:</span> {{boat.year}}</div>
            </div>
          </div>
        </div>
      </div>
      <div id="adBox-container">
        <div id="ad-box">Empty block for ads</div>
      </div>
    </div>
  </div>
</div>
