
<div id="main-wrapper">

  <!-- header -->
  <app-header></app-header>
  <!-- main content -->
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="clearfix">
            <ul id="footer-links">
              <li><a href="">Home</a> |
              </li>
              <li><a href="/car-search"> Cars</a> |
              </li>
              <li><a href="/boat-search"> Boats</a> |
              </li>
              <li><a href="#"> About</a> |
              </li>
              <li><a href="#"> Contact</a>
              </li>
            </ul>
            <div id="footer-right">Â© 2019 BUYANYCARONLINE</div>
          </div>
        </div>
      </div>
    </div>
  </footer>



</div>


